h2 {
    color: white;
}

hr {
    height: 1200px;
}

h4 {
    color: white;
    background-color: d;
}


#headshot {
    height: 150px;
    width: auto;
}

.media-picture {
    height: 25px;
    width: auto;
}

.image-container {
    text-align: center;
    display: block;
}

.media-container {
    text-align: center;
    display: block;
}

.about {
    font-family: 'Playfair Display', serif;
    color: black;
    background-color: white;
}